<div class='container showview'>
	<h1><%= @champion.name %></h1>
	<div class="well championwell">
			<%= image_tag @champion.key + '_Square_0.jpeg', class: "champions" %>	
	<div class="btn-group" id="showpg">
		<button type="button" class="btn btn-primary"><span id='balancednum'>Balanced <br><br><%= @champion.balanced %></span></button>
		<button type="button" class="btn btn-success"><span id='buffnum'>Buff <br><br><%= @champion.buff %></span></button>
		<button type="button" class="btn btn-danger"><span id='nerfnum'>Nerf <br><br><%= @champion.nerf %></span></button>
		<button type="button" class="btn btn-warning"><span id='reworknum'>Rework <br><br><%= @champion.rework %></span></button>
		<button type="button" class="btn btn-info"><span id='vupdatenum'>Visual Update <br><br><%= @champion.visual_update %></span></button>
	</div>
	</div>
	

	<ul class="list-group">
		<% @comments.each do |comment| %>
			<li class="list-group-item" ><%= comment.text %></li>
			<div id="commentuser">Posted By: <%= comment.username %></div>
			<% if comment.user_id.to_s == cookies[:id] %>
			<div class="delete" id='<%= comment.user_id %>'>
			<%= link_to "Edit", edit_comment_path(comment) %>
			<%= link_to "Delete", destroy_path(comment), method: :delete %>
			</div>
			<% end %>
		<% end %>
	</ul>
</div>
<div class="container blank">
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<%= form_for @comment, url: comment_update_path do |f| %>
		<div class="input-group post">
			<%= f.text_field :text, class: "form-control" %>
			<%= f.hidden_field :champion_id, :value => @champion.id %>
			<span class="input-group-btn"><% if cookies[:id] %><%= f.submit "Edit", class: "btn btn-default" %><% else %><%= f.submit "Login to post", class: "btn btn-default disabled" %><% end %></span>
		<% end %>
		</div>
	</div>
</div>