<!DOCTYPE html>
<html>
<head>
  <title>Ritopls</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
 
  var onload = function() {
    var cookie = document.cookie.slice(3)
    var username = $('#session_username').val();
    $.ajax({
        url: "/users",
        data: cookie,
        method: 'post',
        success: function(data) {
          console.log(data.name.username)
          $('#session_username').val = data.name.username
          logged.innerHTML = "Logged in as: " + data.name.username;
        }
      });
    $('#login').click(function(event) {
      event.preventDefault();
      var logged = document.getElementById('logged')
      var username = $('#username').val();
      var password = $('#password').val();
      var object = {
        username: username,
        password: password
      };
      var json = JSON.stringify(object);

      $.ajax({
        url: "/login.json",
        data: json,
        method: 'post',
        dataType: 'json',
        success: function(data) {
          if (data["status"] == "SUCCESS") {
            logged.innerHTML = "Logged in as: " + username;
            document.cookie = 'id = ' + data.name._id.$oid;
          } else {
            logged.innerHTML = "Invalid username or password.";
          }
         }
       });
     });
        $('#logout').click(function() {
      console.log("dsf")
      document.cookie = 'id = ;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    })
  }

    $(document).ready =(onload)
    $(window).bind('page:change', onload)   

  </script>
</head>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Rito Pls</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
         <div class="navbar-brand"></div>
          <form class="navbar-form navbar-left">
          <div class="form-group">
  	        	<input type="text" class="form-control" id="username" placeholder="Username" >
  	          <input type="text" class="form-control" id="password" placeholder="Password" >
          </div>
              <button type="submit" class="btn btn-default" id="login" >Login</button>
          </form>
        <div class="navbar-brand" id="logged"></div>
       <form class="navbar-form navbar-right">
        <div class="form-group">
          <button class="btn btn-default" id="logout">Logout</button>
        	<input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<body>

<%= yield %>
<%= debug(params) %>

</body>
</html>
