<script>
$(window).bind('page:change', function() {
	for (var i=0; i < $('.champions').length; i++) {
		var balanced = $('#' + $('.champions').eq(i).attr('id')).siblings('.votes').children('.btn-primary')
		var buff = $('#' + $('.champions').eq(i).attr('id')).siblings('.votes').children('.btn-success')
		var nerf = $('#' + $('.champions').eq(i).attr('id')).siblings('.votes').children('.btn-danger')
		var rework = $('#' + $('.champions').eq(i).attr('id')).siblings('.votes').children('.btn-warning')
		balanced.click(function(event){
			championname = $(this).parent('.votes').siblings('.champions').attr('id')
			$.ajax({
            url: "/votebalanced",
            data: championname,
            method: 'post',
            success: function(data){
            	$(this).children('#balancednum').html(data.name.balanced);
            	$(this).siblings('.btn-success').children('#buffnum').html(data.name.buff);
            	$(this).siblings('.btn-danger').children('#nerfnum').html(data.name.nerf);
            	$(this).siblings('.btn-warning').children('#reworknum').html(data.name.rework);
            },
            context: this
           });
		});
		buff.click(function(event){
			championname = $(this).parent('.votes').siblings('.champions').attr('id')
			$.ajax({
            url: "/votebuff",
            data: championname,
            method: 'post',
            success: function(data){
            	$(this).siblings('.btn-primary').children('#balancednum').html(data.name.balanced);
            	$(this).children('#buffnum').html(data.name.buff);
            	$(this).siblings('.btn-danger').children('#nerfnum').html(data.name.nerf);
            	$(this).siblings('.btn-warning').children('#reworknum').html(data.name.rework);
            },
            context: this
           });
		});
		nerf.click(function(event){
			championname = $(this).parent('.votes').siblings('.champions').attr('id')
			$.ajax({
            url: "/votenerf",
            data: championname,
            method: 'post',
            success: function(data){
            	$(this).siblings('.btn-primary').children('#balancednum').html(data.name.balanced)
            	$(this).siblings('.btn-success').children('#buffnum').html(data.name.buff)
            	$(this).children('#nerfnum').html(data.name.nerf)
            	$(this).siblings('.btn-warning').children('#reworknum').html(data.name.rework)
            },
            context: this
           });
		});
		rework.click(function(event){
			championname = $(this).parent('.votes').siblings('.champions').attr('id')
			$.ajax({
            url: "/voterework",
            data: championname,
            method: 'post',
            success: function(data){
            	$(this).children('#reworknum').html(data.name.rework)
            },
            context: this
           });
		});
	
}})
</script>


<div class="jumbotron">
OP or Not OP
</div>

<% champion_names = @champions.sort_by { |champion| champion[:name] }%>
<div class="mycontainer">
<% champion_names.each do |champion| %>
		<div id="characters" class="btn-group characters">
			<%= image_tag champion.key + '_Square_0.jpeg', class: "champions", id: champion.key %>
			<div class="votes">
				<div id="balanced">Balanced</div>
				  <button type="button" class="btn btn-primary vote"><span id='balancednum'><%= champion.balanced %></span></button>
				  <button type="button" class="btn btn-success vote"><span id='buffnum'><%= champion.buff %></button>
				  <button type="button" class="btn btn-danger vote"><span id='nerfnum'><%= champion.nerf %></button>
				  <button type="button" class="btn btn-warning vote"><span id='reworknum'><%= champion.rework %></button>
			</div>
			<div class="champname"><%= champion.name %></div>
		</div>
		<div class="stats <%= champion.key %>">
			<div class="btn-group">
			  <button type="button" class="btn btn-primary"><%= champion.balanced %></button>
			  <button type="button" class="btn btn-primary">Balanced</button>
			</div>
			<div class="btn-group">
			  <button type="button" class="btn btn-success"><%= champion.buff %></button>
			  <button type="button" class="btn btn-success">Buff</button>
			</div>
			<div class="btn-group">
			  <button type="button" class="btn btn-danger"><%= champion.nerf %></button>
			  <button type="button" class="btn btn-danger">Nerf</button>
			</div>
			<div class="btn-group">
			  <button type="button" class="btn btn-warning"><%= champion.rework %></button>
			  <button type="button" class="btn btn-warning">Rework</button>
			</div>
  		</div>
<% end %>
</div>


